@font-face{
	font-family: MachineC;
	src: url(./styles/fonts/MachineC.otf);
}

@font-face{
	font-family: PTSerifBold;
	src: url(./styles/fonts/PTSerifBold.ttf);
}

@font-face{
	font-family: Arial;
	src: url(./styles/fonts/Arial.ttf);
}

div{
    display: inline-block;
    width: 100%;
}

div.search{
    display: block;
    max-width: 100%;
}

span.property-cross{
    display: block;
    float: left;
    font-family: PTSerifBold;
    font-size: 2rem;
    color: rgb(100, 100, 100);
}

button.faves-button{
    display: block;
    float: right;
    border: 0.1rem solid #efefef;
    background-color: #0dcc17;
    margin: 0 auto;
    margin-top: 0.1rem;
    text-align: left;
    max-width: 200px;
    min-width: 60px;
    max-height: 60px;
    min-height: 35px;
    font-family: PTSerifBold;
    font-size: 1rem;
    color: #fff;
}

button.faves-button:hover{
    cursor: pointer;
    background-color: #42f85b;
}

div.description{
    display: block;
    word-wrap: break-word;
    max-width: 50%;
    font-family: Arial;
    font-size: 1rem;
    color: rgb(99, 99, 99);
}

div.field{
    display: inline-block;
    max-width: 100%;
}

input.search-input{
    max-width: 100%;
    min-width: 335px;
    max-height: 100px;
    min-height: 30px;
    font-family: PTSerifBold;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.801);
    background-color: #fff;
    border: 2px solid #cccccc;
    padding-left: 5px;
}

button.go-button, button.location-button{
    display: inline-block;
    border: 0.1rem solid #efefef;
    background-color: #e6085d;
    margin: 0 auto;
    margin-top: 0.1rem;
    text-align: left;
    max-width: 200px;
    min-width: 60px;
    max-height: 60px;
    min-height: 35px;
    font-family: PTSerifBold;
    font-size: 1rem;
    color: #fff;
}

button.go-button:hover, button.go-button:focus{
    cursor: pointer;
    background-color: #ee4c8a;
}

button.location-button{
    background-color: #e79e00;
}

button.location-button:hover, button.location-button:focus{
    cursor: pointer;
    background-color: #f5bf49;
}

button.filter-button{
    display: block;
    border: 0.1rem solid #efefef;
    background-color: #2499dd;
    margin: 0 auto;
    margin-top: 0.1rem;
    text-align: left;
    float: right;
    max-width: 200px;
    min-width: 60px;
    max-height: 60px;
    min-height: 35px;
    font-family: PTSerifBold;
    font-size: 1rem;
    color: #fff;
}

input.filter-button, form.filter-block{
    display: none;
}

input.filter-button:checked ~ form.filter-block{
    height: auto;
    display: block;
}

label.filter-lable{
    max-width: 60px;
    min-width: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 0.1rem;
    text-align: left;
    float: right;
    background-color: #2499dd;
}

span.filter-span{
    position: absolute;
    max-width: 200px;
    min-width: 60px;
    max-height: 60px;
    background: #2499dd;
    font-family: PTSerifBold;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0.1rem solid #efefef;;
    box-sizing:border-box;
}

span.filter-span:focus, span.filter-span:hover{
    background: #48b1ee;
}

.hide {
    display: none; 
}

.hide + label ~ div{
    display: none;
}

.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}

.hide:checked + label {
    color: red;
    border-bottom: 0;
}

.hide:checked + label + div {
    max-width: 90%;
    display: block; 
    background: #efefef;
    padding: 10px; 
}

.filter{
    display: block;
    float: left;
    max-width: 200px;
    min-width: 100px;
    max-height: 30px;
    min-height: 20px;
    height: 20px;
}

.search-category{
    max-width: 400px;
    min-width: 300px;
}

.search-category input, select{
    width: 150px;
    float: right;
    margin-right: 40px;
    margin-top: 5px;
    background: #f3f3f3;
}

.search-category select{
    width: 156px;
}

div.pagination{
    display: block;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    max-width: 300px;
    min-width: 300px;
    text-align: center;
 
}

button.pull-left{
    float: left;
    display: block;
    margin-top: 10px;
    border: 0.1rem solid #efefef;
    background-color: #0a7ec2;
    max-width: 200px;
    min-width: 60px;
    max-height: 40px;
    min-height: 35px;
    font-family: PTSerifBold;
    font-size: 0.7rem;
    color: #fff;
}

button.pull-left:hover{
    cursor: pointer;
    background-color: #49ace6;
}

button.pull-right{
    float: right;
    display: block;
    margin-top: 10px;
    border: 0.1rem solid #efefef;
    background-color: #0a7ec2;
    max-width: 200px;
    min-width: 60px;
    max-height: 40px;
    min-height: 35px;
    font-family: PTSerifBold;
    font-size: 0.7rem;
    color: #fff;
}

button.pull-right:hover{
    cursor: pointer;
    background-color: #49ace6;
}

.text{
    font-family: PTSerifBold;
    font-size: 25px;
    color: rgb(146, 146, 146);
    text-align: center;
    line-height: 50px;
}