<hr>
<div class="info">
    <span class="faves">Faves</span>
    <button class="back" routerLink="/"><< To Main</button>
</div>
<hr>
<div *ngIf="data != null && data.length > 0;">
    <div class="results">
        <div *ngFor="let res of data; let i = index">
            <div *ngIf="data[i] != null">
                <div class="info-block">
                    <div class="picture" [routerLink]="['/details', i]" [queryParams]="{
                        'title':data[i].title,
                        'summary':data[i].summary,
                        'image':data[i].image,
                        'price':data[i].price,
                        'property_type':data[i].property_type,
                        'bathroom_number':data[i].bathroom_number,
                        'bedroom_number':data[i].bedroom_number,
                        'keywords':data[i].keywords,
                        'latitude':data[i].latitude,
                        'longitude':data[i].longitude,
                        'lister_url':data[i].lister_url
                    }"
                     [ngStyle]="{'background-image': 'url(' + data[i].image +')'}"></div>
                    <span class="price">{{data[i].price}}</span>
                    <span class="title">{{data[i].title}}</span>
                    <br>
                    <span class="keywords">{{data[i].keywords}}</span>
                    <button class="info" (click)="info(data, i)">More information</button>
                </div>
            </div>
        </div> 
    </div>
</div>
<div *ngIf="data == null || data.length == 0;">
    <span class="empty">There is nothing here yet</span>
</div>