div{
    display: block;
    width: 100%;
    display: block;
}

div.title{
    display: block;
    width: 100%;
    font-family: PTSerifBold;
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

div.results{
    display: block;
    width: 100%;
    border: 1px double black; 
    margin: 0 auto;
}